<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <style>
     .container {
        margin-top: 100px;
        margin-left: 350px;
        text-align: center;
    }
  </style>
</head>
</head>
<body>
<div class="container">
<h2>Добавить неверный ответ</h2>
<br>
<form method="post" action="{% url 'add_incorrect_answer' %}">
  {% csrf_token %}
  <label for="topic">Выберите топик:</label>
  <select id="topic" name="topic_id" required>
    {% for topic in topics %}
      <option value="{{ topic.id }}">{{ topic.name }}</option>
    {% endfor %}
  </select>
  <br><br>
  <label  for="answer_text">Текст неверного ответа:</label>
  <input style="border-radius: 10px; border: 1px solid #343a40; height:40px; width: 200px;" type="text" id="answer_text" name="answer_text" required>
  <br><br>
  <input class="btn btn-outline-success" style="border-radius:10px; height:40px; " type="submit" value="Добавить">
</form>
</div>
</body>
</html>