<!DOCTYPE html>
<html>
<head>
    <title>Редактировать пресет</title>
</head>
<body>
    <h1>Редактировать пресет "{{ preset.name }}"</h1>
  <form method="post">
  {% csrf_token %}
  <label for="name">Preset Name:</label>
  <input type="text" id="name" name="name" value="{{ preset.name }}">
  <br>
  <br>
  {% for preset_question in preset.presetquestion_set.all %}
    <label for="question_text_{{ preset_question.question.id }}">Question:</label>
    <input type="text" id="question_text_{{ preset_question.question.id }}" name="question_text_{{ preset_question.question.id }}" value="{{ preset_question.question.question_text }}">
    <br>
    <label for="correct_answer_{{ preset_question.question.id }}">Correct Answer:</label>
    <input type="text" id="correct_answer_{{ preset_question.question.id }}" name="correct_answer_{{ preset_question.question.id }}" value="{{ preset_question.question.correct_answer }}">
    <br>
    <label>Incorrect Answers:</label>
    {% for incorrect_answer in preset_question.incorrect_answers.all %}
      <input type="text" name="incorrect_answers_{{ preset_question.question.id }}" value="{{ incorrect_answer.answer_text }}">
      <br>
    {% endfor %}
    <br><br>
  {% endfor %}
  <button type="submit">Save</button>
</form>

    <br>
    <a href="{% url 'preset_list' %}">Назад к списку предустановок</a>
</body>
</html>
