body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: color: #eee;
}

.container {
    display: flex;
    padding: 0px;
    width: 1300px;
    height: 700px;
    border-radius: 10px;
}

.left-side {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-side {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -60px
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="submit"] {
    margin-bottom: 0px;
    padding: 5px;
    font-size: 18px;

    top: 100px;
}

.error {
    color: red;
}

.input-wrapper {
    position: relative;
}

.input-wrapper input[type="password"] {
    padding-right: 40px;
}

.input-wrapper i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}